body{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00989d;
}

.upper{
    position: relative;
    display: flex;
    height: 30%;
    background-color: #00989d;
}

.upper div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    border: white 0.3rem solid;
    

}

.circle{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle1{
    background-color: pink;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.circle2{
    background-color: orange;
    
    top: 50px;
    left: 100px;
    z-index: 1;
}

.circle3{
    background-color: pink;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 250px;
    z-index: 1;
}

.circle4{
    background-color: orange;
    width: 30px;
    height: 30px;
    top: 200px;
    left: 50px;
    z-index: 1;
}

.circle5{
    background-color: pink;
    
    top: 200px;
    left: 200px;
    z-index: 1;
}

.circle6{
    background-color: pink;
    width: 30px;
    height: 30px;
    top: 250px;
    left: 20px;
    z-index: 1;
}