body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00989d;
}

.upper{
    position: relative;
    display: flex;
    height: 50%;
    background-color: #00989d;
}

.upper div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border: white 0.3rem solid;
    font-weight: bold;
    text-transform: uppercase;

}